input[type="text"]{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #FFF;
	background-image: none;
	background-origin: padding-box;
	background-position: 0% 0%;
	background-repeat: repeat;
	background-size: auto;
	border-bottom-color: #CCC;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: separate;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: #CCC;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #CCC;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #CCC;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-style: solid;
	border-top-width: 1px;
	bottom: auto;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-sizing: content-box;
	caption-side: top;
	clear: none;
	clip: auto;
	color: #555;
	cursor: auto;
	direction: ltr;
	display: inline-block;
	empty-cells: show;
	float: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 20px;
	left: auto;
	letter-spacing: normal;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: disc;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 3px;
	margin-top: 0px;
	max-height: none;
	max-width: none;
	min-height: 0px;
	min-width: 0px;
	opacity: 1;
	orphans: auto;
	outline-color: #555;
	outline-offset: 0px;
	outline-style: none;
	outline-width: 0px;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: auto;
	position: static;
	resize: none;
	right: auto;
	speak: normal;
	table-layout: auto;
	text-align: start;
	text-decoration: none solid rgb(85, 85, 85);
	text-indent: 0px;
	text-overflow: clip;
	text-shadow: none;
	text-transform: none;
	top: auto;
	transition-delay: 0s, 0s;
	transition-duration: 0.2s, 0.2s;
	transition-property: border, box-shadow;
	transition-timing-function: linear, linear;
	unicode-bidi: normal;
	vertical-align: middle;
	visibility: visible;
	white-space: normal;
	widows: auto;
	width: 270px;
	word-break: normal;
	word-spacing: 0px;
	word-wrap: normal;
	z-index: auto;
}

.badge{
	display:inline-block;
	background-color:#999;
	padding:2px 4px;
	font-size:11.844px;
	font-weight:bold;
	line-height:14px;
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	border-radius: 50%;
	padding:1px 5px 1px 5px;
	line-height:14px;
	margin-right:5px;
	font-size:10px;
 }

#query-keywords:focus{
	border-color: rgba(190, 190, 190, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(100, 149, 237, 0.6);//100 149 237 190, 190, 190
	outline: 0 none;
}

#baidu-search{
	margin:12px 6px -20px 2px;
}

#query-keywords{
	height: 100%;
	width: 270px;
	font-size:9px;
	border-radius:0;
}

#searchIcon{
	margin-left:260px;
	vertical-align: middle;
}