input[type="text"]{
	vertical-align: top;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    width: 77%;
    box-sizing: border-box;
    padding: 3px 10px;
    outline: 0px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
}

#query-keywords:focus{
	outline: 0 none;
}

#baidu-search{
	margin:12px 6px -20px 2px;
}

#query-keywords{
	height: 100%;
	width: 285px;
}

#searchIcon{
	margin-left:260px;
	vertical-align: middle;
}
.bdresult a{
	border-radius:1px;
	padding-left: 4px;
	padding-right: 4px;
	-webkit-transition:all .4s
}
